.bgCustom{
    background-color: rgba(56, 59, 50, 0.631);
    box-shadow: 8px 8px 15px ;
}

.bgCustomButton{
    background-color: rgba(56, 59, 50, 0.631);
    box-shadow: 8px 8px 15px ;
}

.bgCustomButton:hover{
    width: 125px;
    height: 75px;
}

.fontSizeSpan{
    font-size: 200%;
    font-weight: lighter;
}

.fontSizeSpanTitle{
    font-size: 117%;
    font-weight: bolder;
}

.customDiv{
    width: 45%;
}

.rotationImg{
    animation:rotate 5s linear infinite;
    width: 85%;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(306deg);
    }
}
