.bg_button_custom{
    background-color: rgba(56, 59, 50, 0.631);
    box-shadow: 8px 8px 15px ;
}

.font_size{
    font-size: 60px
}

.font_size_span{
    font-size: 20px;
}

.custom_div{
    width: 60%;
}