<div class="container-fluid backgroundImage d-flex justify-content-center align-items-center flex-column gap-5">
    <div class="custom_div bg_main_div rounded border border-2 border-dark p-3">
        <span class="font_size_span" style="font-family: 'clarinet',sans-serif;color: white;">
            "Il calcolatore di mattonelle ti aiuta a determinare quante piastrelle
            sono necessarie per coprire un metroquadro specifico, considerando sia
            le dimensioni delle mattonelle che quelle del metroquadro."
        </span>
    </div>
    <div class="rounded border border-2 border-dark bg_main_div custom_div">
        <div class="container-fluid d-flex align-items-center flex-column py-5">
            <div >
                <span>Dimensione Piastrella</span>
            </div>
            <div>
                <div>
                    <div>
                        <span>Dimensione 1:</span>
                        <input type="number" >
                          
                    </div>
                    <div>
                        <span>X</span>
                    </div>
                    <div>   
                        <span>Dimensione 2:</span>
                        <input type="number">
                    </div>
                </div>
            </div>
            <div class="p-5">
                <span class="font_size" style="font-family: 'clarinet',sans-serif;color: white;">Piastrella</span>
            </div>
            <div class="p-5">
                <button class="btn bg_button_custom p-3 border border-2 border-dark py-3 px-5">
                    <span class="fs-3" style="font-family: 'clarinet',sans-serif;color: white;">
                        Calcola
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>