<div class="container-fluid backgroundImage d-flex justify-content-center align-items-center">
    <div class="rounded border border-2 border-dark bg_main_div w-25">
        <div class="container-fluid d-flex align-items-center flex-column py-5">
            <div class="p-5">
                <span class="font_size" style="font-family: 'clarinet',sans-serif;color: white;">Piastrella</span>
            </div>
            <div class="p-5">   
                <button (click)="goToCalculator()" class="btn bg_button_custom p-3 border border-2 border-dark py-3 px-5"><span class="fs-3" style="font-family: 'clarinet',sans-serif;color: white;">Calcola</span></button>
            </div>
        </div>
    </div>
</div>
