.bg_button_custom{
    background-color: rgba(56, 59, 50, 0.631);
    box-shadow: 10px 10px 10px;
}

.bg_main_div{
    background-color: rgba(90, 90, 90, 0.615);
    box-shadow: 10px 10px 30px 15px;
}

.fontSize{
    font-size: 60px
}